.section {
	background-color: rgba(255, 255, 255, 0.9);
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 10000;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: loader 0.01s;
	animation-delay: 1.75s;
	animation-fill-mode: both;
}

.loader {
	width: 50px;
	height: 50px;
	display: inline;
	vertical-align: middle;
}

.loader-circles {
	border-radius: 50px;
	border: 3px solid transparent;
	border-top-color: $color-primary;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

.loader-circles:after {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	bottom: 5px;
	right: 5px;
	border-radius: 50px;
	border: 3px solid transparent;
	border-top-color: $color-secondary;
	opacity: 0.8;
	-webkit-animation: spin 5s linear infinite;
	animation: spin 5s linear infinite;
}

.loader-circles:before {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	border-radius: 50px;
	border: 3px solid transparent;
	border-top-color: $color-tertiary;
	opacity: 0.5;
	-webkit-animation: spin 10s linear infinite;
	animation: spin 10s linear infinite;
}
